{% extends 'base.html' %}
{% block content %}
           
{% if user.is_authenticated %}

<hr class="my-4">
<form method="POST" action class="form-box px-3">
              

<div class="text-center">
  <h4>Witaj w PredApp</h4>
  <hr class="my-4">
  <p>Dzięki użyciu aplikacji możesz poznać <br>orientacyjną cenę wybranego modelu samochodu<br> lub dowiedzieć się, ile będziesz musiał<br>zapłacić za wynajem mieszkania w Warszawie.<br> Przejdź do symulacji! 
    </p>
<div class="mb-2">
  <button type="submit"  class="btn  btn-block text-uppercase">
      <a  class="btn btn-dark" id="car"  href="{% url 'predcar:add' %}">Ceny samochodów</a>
  </button>
  <div class="mb-2">
    <button type="submit" class="btn  btn-block text-uppercase">
        <a  class="btn btn-dark" id="house" href="{% url 'predhouse:add' %}">Ceny mieszkań</a>
    </button>




</div>

<hr class="my-4">
</form>





{% endif %}


    {% endblock %}