{% extends "baseapp.html" %}
{% block title %}

Resetowanie hasła

{% endblock %}
{% block content %}

{% if validlink %}<p>
    
    <div class="form-reset text-center">
        <h2>Zresetuj hasło</h2>
        <hr class="my-4">
    
   
    <form action="." method="post">{{ form.as_p }}{% csrf_token %}
    <input type="submit" class="btn btn-dark" value="Zmień hasło" /></form>
    <hr class="my-4"> 
    {% else %}
    <p>Link resetowania hasła był nieprawidłowy, prawdopodobnie dlatego że został już użyty. Poproś o nowy link do resetowania hasła.</p>
    {% endif %}
    </p>
</div>
    {% endblock %}