{% extends 'baseapp.html' %}

{% block content %}

<form method="post"   class="form-horizontal" role="form"   >
    <hr class="my-4">
    {% csrf_token %}
<h4 class="text-center"> Wypełnij formularz, a dowiesz się ile kosztuje poszukiwane przez Ciebie mieszkanie w Warszawie</h4>
      
<div class="row">
          <div class="col">
            <label>Metraż:</label>
            {{ form.area }}
          </div>
          <div class="col">
            <label>Liczba pokoi:</label>
            {{ form.room_num}}
          </div>
          <div class="col">
            <label>Piętro mieszkania:</label>
            {{ form.floor}}
          </div>
        </div>

        <div class="row">
            <div class="col">
              <label>Liczba pięter budynku:</label>
              {{ form.total_floor }}
            </div>
            <div class="col">
              <label>Rok budowy:</label>
              {{ form.year_built}}
            </div>
            <div class="col">
            <label>Zmywarka:</label>
            {{ form.dish_washer}}
          </div>
          </div>

           <div class="row">
            <div class="col">
              <label>Telewizor:</label>
              {{ form.tv_set }}
            </div>
            <div class="col">
              <label>Pralka:</label>
              {{ form.washer}}
            </div>
            <div class="col">
            <label>Balkon:</label>
            {{ form.balcony}}
          </div>
          </div>

           <div class="row">
            <div class="col">
              <label>Piwnica:</label>
              {{ form.basement }}
            </div>
            <div class="col">
              <label>Winda:</label>
              {{ form.elevator}}
            </div>
            <div class="col">
            <label>Internet:</label>
            {{ form.internet}}
          </div>
          </div>

           <div class="row">
            <div class="col">
              <label>Dla studentów:</label>
              {{ form.available_for_students }}
            </div>
            <div class="col">
              <label>Mieszkanie dwupoziomowe:</label>
              {{ form.two_level}}
            </div>
            <div class="col">
            <label>Ogród:</label>
            {{ form.garden}}
          </div>
          </div>
          <div class="row">
            <div class="col">
              <label>Dielnica:</label>
              {{ form.district }}
            </div>
            <div class="col">
            
            </div>
            <div class="col">
           
          </div>
          </div> <hr class="my-4">
          <input  type="submit" value="Predykcja" class="btn btn-dark">
      </form>
    
    
{% endblock %}